<div class="col-md-10 col-md-offset-2 main">
	<h3 class="page-header">Classmates</h3>
	<div class="col-md-12 midDiv">
		<div class="panel-body table_header subject">
			<ul class="list-unstyled">
				<li class="text-center">
					<h3 class="semibold"><b>Section Name</b></h3>
					<span>Section</span>
				</li>
			</ul>
		</div>
		<div class="panel-body">
			<ul class="nav-justified">
				<li>
					<div class="sec">
						<h3 class="semibold">Helimar Rabago</h3>
						<span>Teacher</span>
					</div>
				</li>
				<li>
					<div class="sec">
						<h3 class="semibold">111</h3>
						<span>Room#</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th width="5%"></th>
							<th style="text-align: center"><b>NAME</b></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<img class="imageSmall" src="/images/student.png" />
							</td>
							<td>
								<p><b>Concina</b>, Jonas</p>
							</td>
						</tr>
						<tr>
							<td>
								<img class="imageSmall" src="/images/student.png" />
							</td>
							<td>
								<p><b>Moreno</b>, Monette</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th style="text-align: center"><b>SUBJECTS</b></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<p>--</p>
							</td>
						</tr>
						<tr>
							<td>
								<p>--</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>