<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h3 class="page-header">Payments</h3>
	<div class="panel-body row">
		<div class="dSpace" >
			<h3 class="text-center">
				<b>Montessori Children's House of Learning</b>
			</h3>
			<h4 class="text-center">
				<b>Statement of Account</b>
			</h4>
			<p class="text-center">
				School Year: __/__/__
			</p>
		</div>
		<div class="col-xs-6">
			<b>ASSESSMENTS</b>
			<div class="panel-collapse">
				<table class="table table-bordered table-hover">
					<tbody>
						<tr>
							<td>Tuition :</td>
							<td></td>
						</tr>
						<tr>
							<td>Other Fees :</td>
							<td></td>
						</tr>
						<tr>
							<td>Other Assessment :</td>
							<td></td>
						</tr>
						<tr class="active ">
							<td><b>Total Assessment </b></td>
							<td>000.0</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered table-hover">
					<tbody>
						<tr>
							<td>Total Assessment :</td>
							<td></td>
						</tr>
						<tr>
							<td>Total Payements :</td>
							<td></td>
						</tr>
						<tr class="active ">
							<td><b>Total Payable </b></td>
							<td>000.0</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-6">
			<b>PAYMENTS</b>
			<div class="panel-collapse">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Date of Payment</th>
							<th>Mode of Payment</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>__/__/__</td>
							<td></td>
							<td></td>
						</tr>
						<tr class="active">
							<td colspan="2"><b>Total Payment:</b></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>