<div class="col-md-10 col-md-offset-2 main">
	<h3 class="page-header">Profile</h3>
	<div class="well">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-md-2 control-label">Name</label>
				<div class="col-md-9">
					<input class="form-control" id="name" type="text" value="Antonio Closa" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Sex</label>
				<div class="col-md-9">
					<input class="form-control" id="sex" type="text" value="Male" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Birthdate</label>
				<div class="col-md-9">
					<input class="form-control" id="age" type="text" value="February 29, 1997" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Address</label>
				<div class="col-md-9">
					<input class="form-control" id="address" type="text" value="Ragay, Camarines Sur" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Handedness</label>
				<div class="col-md-9">
					<input class="form-control" id="handedness" type="text" value="Right" readonly="readonly">
				</div>
			</div>
			<p class="text-center"><strong>Father's Information</strong></p>
			<div class="form-group">
				<label class="col-md-2 control-label">Name</label>
				<div class="col-md-9">
					<input class="form-control" id="father_name" type="text" value="Daddy Closa" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Occupation</label>
				<div class="col-md-9">
					<input class="form-control" id="father_occupation" type="text" value="Daddy" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Age</label>
				<div class="col-md-9">
					<input class="form-control" id="father_age" type="text" value="40" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Educational Attainment</label>
				<div class="col-md-9">
					<input class="form-control" id="father_educ_attainment" type="text" value="College" readonly="readonly">
				</div>
			</div>
			<p class="text-center"><strong>Mother's Information</strong></p>
			<div class="form-group">
				<label class="col-md-2 control-label">Name</label>
				<div class="col-md-9">
					<input class="form-control" id="mother_name" type="text" value="Mommy Closa" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Occupation</label>
				<div class="col-md-9">
					<input class="form-control" id="mother_occupation" type="text" value="Mommy" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Age</label>
				<div class="col-md-9">
					<input class="form-control" id="mother_age" type="text" value="40" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Educational Attainment</label>
				<div class="col-md-9">
					<input class="form-control" id="mother_educ_attainment" type="text" value="College" readonly="readonly">
				</div>
			</div>
		</form>
	</div>
</div>