<div class="col-sm-10 col-sm-offset-2 main">
	<h3 class="page-header">Report Card</h3>
	<div class="row placeholders">
		<div class="col-sm-12 placeholder">
			<ul class="nav nav-tabs">
				<li><a href="report_card">Summary</a></li>
				<li class="active"><a href="#">Gross Motor</a></li>
				<li><a href="report_card_fmd">Fine Motor</a></li>
				<li><a href="report_card_shd">Self-Help</a></li>
				<li><a href="report_card_rld">Receptive Language</a></li>
				<li><a href="report_card_eld">Expressive Language</a></li>
				<li><a href="report_card_cd">Cognitive</a></li>
				<li><a href="report_card_sed">Social-Emotional</a></li>
			</ul>
			<div class="table-responsive">
				<table class="table table-bordered table-hover report_card">
					<thead>
						<tr>
							<th>Gross Motor</th>
							<th>1st Eval</th>
							<th>2nd Eval</th>
							<th>3rd Eval</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Climbs on chair or other elevated piece of furniture like a bed without help</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Walks backwards</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Runs without tripping or falling</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Walks down stairs, two feet on each step, with one hand held</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Walks upstairs holding onto a handrail, two feet on each step</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Walks upstairs with alternate feet without holding onto a handrail</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Walks downstairs with alternate feet without holding onto a handrail</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Moves body part as directed</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Jumps up</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Throws ball overhead with direction</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Hops one to three steps on preferred foot</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Jumps and turns</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Dances patterns/joins group movement activites</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><h4>Total Score</h4></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>