<div class="col-sm-10 col-sm-offset-2 main">
	<h3 class="page-header">Report Card</h3>
	<div class="row placeholders">
		<div class="col-sm-12 placeholder">
			<ul class="nav nav-tabs">
				<li><a href="report_card">Summary</a></li>
				<li><a href="report_card_gmd">Gross Motor</a></li>
				<li><a href="report_card_fmd">Fine Motor</a></li>
				<li><a href="report_card_shd">Self-Help</a></li>
				<li><a href="report_card_rld">Receptive Language</a></li>
				<li class="active"><a href="#">Expressive Language</a></li>
				<li><a href="report_card_cd">Cognitive</a></li>
				<li><a href="report_card_sed">Social-Emotional</a></li>
			</ul>
			<div class="table-responsive">
				<table class="table table-bordered table-hover report_card">
					<thead>
						<tr>
							<th>Expressive Language</th>
							<th>1st Eval</th>
							<th>2nd Eval</th>
							<th>3rd Eval</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Uses five to 20 recognizable words</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Uses pronouns (e.g., I, me, ako, akin)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Uses two- to three-word verb-noun combinations (e.g., hingi gatas)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Names objects in pictures</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Speaks in grammatically correct two- to three-word sentences</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Asks "what" questions</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Asks "who" and "why" questions</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Gives account of recent experiences (with prompting) in order of occurence using past tense</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><h4>Total Score</h4></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>