<div class="col-md-10 col-md-offset-2 main">
	<h3 class="page-header">Report Card</h3>
	<div class="row placeholders">
		<div class="col-md-12 placeholder">
			<ul class="nav nav-tabs">
				<li><a href="report_card">Summary</a></li>
				<li><a href="report_card_gmd">Gross Motor</a></li>
				<li><a href="report_card_fmd">Fine Motor</a></li>
				<li class="active"><a href="#">Self-Help</a></li>
				<li><a href="report_card_rld">Receptive Language</a></li>
				<li><a href="report_card_eld">Expressive Language</a></li>
				<li><a href="report_card_cd">Cognitive</a></li>
				<li><a href="report_card_sed">Social-Emotional</a></li>
			</ul>
			<div class="table-responsive">
				<table class="table table-bordered table-hover report_card">
					<thead>
						<tr>
							<th>Self-Help</th>
							<th>1st Eval</th>
							<th>2nd Eval</th>
							<th>3rd Eval</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th colspan="5">Feeding sub-domain</th>
						</tr>
						<tr>
							<td>Feeds self with finger food (e.g., biscuits, bread) using fingers</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Feeds self using fingers to eat rice/viands with spillage</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Feeds self using spoon with spillage</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Feeds self using fingers without spillage</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Feeds self using spoon without spillage</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Eats without need for spoonfeeding during any meal</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Helps hold cup for drinking</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Drinks from cup with spillage</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Drinks from cup unassisted</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Gets drink for self unassisted</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Pours from pitcher without spillage</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Prepares own food/snack</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Prepares meals for younger siblings/family members when no adult is around</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th colspan="5">Dressing sub-domain</th>
						</tr>
						<tr>
							<td>Participates when being dressed (e.g., raises arms or lifts leg)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Pulls down gartered short pants</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Removes sando</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Dresses without assistance except for buttons and tying</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Dresses without assistance including buttons and tying</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th colspan="5">Toilet Training sub-domain</th>
						</tr>
						<tr>
							<td>Informs the adult only after he has already urinated (peed) or moved his bowels (poohed) in his underpants</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Informs the adult of need to urinate (pee) or move bowels (pooh-pooh) so he can be brought to a designated place (e.g., comfort room)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Goes to the designated place to urinate (pee) or move bowels (pooh) but sometimes still does this in his underpants</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Goes to the designated place to urinate (pee) or move bowels (pooh) and never does this in his underpants/wear anymore</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Wipes/cleans self after a bowel movement (pooh)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th colspan="5">Bathing sub-domain</th>
						</tr>
						<tr>
							<td>Participates when bathing (e.g., rubbing arms with soap)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Washes and dries hands without any help</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Washes face without any help</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><h4>Total Score</h4></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>