<div class="col-md-10 col-md-offset-2 main">
	<h3 class="page-header">Report Card</h3>
	<div class="row placeholders">
		<div class="col-md-12 placeholder">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#">Summary</a></li>
				<li><a href="report_card_gmd">Gross Motor</a></li>
				<li><a href="report_card_fmd">Fine Motor</a></li>
				<li><a href="report_card_shd">Self-Help</a></li>
				<li><a href="report_card_rld">Receptive Language</a></li>
				<li><a href="report_card_eld">Expressive Language</a></li>
				<li><a href="report_card_cd">Cognitive</a></li>
				<li><a href="report_card_sed">Social-Emotional</a></li>
			</ul>
			<div class="table-responsive">
				<table class="table table-bordered table-hover report_card">
					<thead>
						<tr>
							<th rowspan="5">Domain</th>
						</tr>
						<tr>
							<th colspan="2">1st Evaluation Date</th>
							<th colspan="2">2nd Evaluation Date</th>
							<th colspan="2">3rd Evaluation Date</th>
						</tr>
						<tr>
							<th colspan="2">__/__/__</th>
							<th colspan="2">__/__/__</th>
							<th colspan="2">__/__/__</th>
						</tr>
						<tr>
							<th>Age</th>
							<th></th>
							<th>Age</th>
							<th></th>
							<th>Age</th>
							<th></th>
						</tr>
						<tr>
							<th>Raw Score</th>
							<th>Scaled Score</th>
							<th>Raw Score</th>
							<th>Scaled Score</th>
							<th>Raw Score</th>
							<th>Scaled Score</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Gross Motor</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Fine Motor</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Self-Help</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Receptive Language</td>
							<td></td>
							<td></td>
							<td></td>	
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Expressive Language</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Cognitive</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Socio-Emotional</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>Sum of Scaled Scores</th>
							<td rowspan="2" class="disable"></td>
							<td></td>
							<td rowspan="2" class="disable"></td>
							<td></td>
							<td rowspan="2" class="disable"></td>
							<td></td>
						</tr>
						<tr>
							<th>Standard Score</th>
							<td></td>
							<td></td>
							<td></td>
							</tr>
						<tr>
							<th rowspan="2">Interpretation</th>
							<td rowspan="2" colspan="2"></td>
							<td rowspan="2" colspan="2"></td>
							<td rowspan="2" colspan="2"></td>
						</tr>
		  			</tbody>
				</table>
	  		</div>
		</div>
 	</div>
</div>