<div class="col-sm-10 col-sm-offset-2 main">
	<h3 class="page-header">Report Card</h3>
	<div class="row placeholders">
		<div class="col-sm-12 placeholder">
			<ul class="nav nav-tabs">
				<li><a href="report_card">Summary</a></li>
				<li><a href="report_card_gmd">Gross Motor</a></li>
				<li class="active"><a href="#">Fine Motor</a></li>
				<li><a href="report_card_shd">Self-Help</a></li>
				<li><a href="report_card_rld">Receptive Language</a></li>
				<li><a href="report_card_eld">Expressive Language</a></li>
				<li><a href="report_card_cd">Cognitive</a></li>
				<li><a href="report_card_sed">Social-Emotional</a></li>
			</ul>
			<div class="table-responsive">
				<table class="table table-bordered table-hover report_card">
					<thead>
						<tr>
							<th>Fine Motor</th>
							<th>1st Eval</th>
							<th>2nd Eval</th>
							<th>3rd Eval</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Uses all five fingers to get food/toys placed on a flat surface</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Picks up objects with thumb and index finger</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Displays a definite hand preference</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Puts small objects in/out of containers</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Holds crayon with all the fingers of his hand making a fist (i.e., palmar grasp)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Scribbles spontaneously</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Scribbles vertical and horizontal lines</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Draws circle purposefully</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Draws a human figure (head, eyes, trunk, arms, hands/fingers)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><h4>Total Score</h4></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>