<div class="col-md-10 col-md-offset-2 main">
	<h3 class="page-header">Report Card</h3>
	<div class="row placeholders">
		<div class="col-md-12 placeholder">
			<ul class="nav nav-tabs">
				<li><a href="report_card">Summary</a></li>
				<li><a href="report_card_gmd">Gross Motor</a></li>
				<li><a href="report_card_fmd">Fine Motor</a></li>
				<li><a href="report_card_shd">Self-Help</a></li>
				<li><a href="report_card_rld">Receptive Language</a></li>
				<li><a href="report_card_eld">Expressive Language</a></li>
				<li class="active"><a href="#">Cognitive</a></li>
				<li><a href="report_card_sed">Social-Emotional</a></li>
			</ul>
			<div class="table-responsive">
				<table class="table table-bordered table-hover report_card">
					<thead>
						<tr>
							<th>Cognitive</th>
							<th>1st Eval</th>
							<th>2nd Eval</th>
							<th>3rd Eval</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Looks in the direction of fallen object</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Looks for partially hidden object</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Imitates behavior just seen a few minutes earlier</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Offers an object but will not release it</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Looks for a completely hidden object</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Exhibits simple "pretend" play (feeds, put doll to sleep)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Matches objects</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Matches two to three colors</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Matches pictures</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Sorts based on shapes</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Sorts objects based on two attributes (e.g., size and color)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Arranges objects according to size from smallest to biggest</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Names four to six colors</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Copies shapes</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Names 3 animals or vegetables when asked</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>States what common household items are used</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Can assemble simple puzzles</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Demonstrates an understanding of opposites by completing a statement (e.g., Ang aso ay malaki, ang daga ay ______.")</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Points to left and right sides of body</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Can state what is silly or wrong with pictures (e.g., Ano ang mali sa larawang ito?)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Matches upper case letters; and matches lower case letters</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td><h4>Total Score</h4></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>